<div class="container">
  <% if can? :edit, Event %>
    <div class="row">
      <%=link_to 'Edit', edit_event_path(@event) %> |
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-3">
      <h2><%=@event.name%></h2>

    </div>
    <div class="col ">
      <p> Start Date: <%=@event.start_date%></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><%=@event.description%></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <% if @event.image.attached? %>
        <%= image_tag(@event.image, style: 'width:100%') %>
      <%end  %>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <h3>About the event evenue</h3>
    </div>
  </div>


  <% if can? :create, Order %>
    <div class="row">
      <div class="col">
        <h3>Buy a ticket!</h3>
      </div>
    </div>


    <%=form_with(url:'/shopping_cart/add', local: true) do |form| %>
      <div class="row">
        <div class="col-md-2">
          <%=form.select(:ticket_type_id,
                         options_from_collection_for_select(
                             TicketType.where(event_id: @event.id).map { |ttype|
                               zone = ttype.ticket_zone
                               class << ttype
                                 attr_accessor :zone_details
                               end
                               ttype.zone_details = "#{zone.zone} - #{ttype.price}"
                               ttype
                             }, :id, :zone_details)
             ) %>
        </div>
        <div class="col">
          <%=form.select(:amount, options_for_select((1..10).map { |val| [val, val]} )) %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="action col">
          <%= form.submit 'Add to cart' %>
        </div>
      </div>


    <%end # form%>
  <%end # can%>
  <ul>
    <li>Venue: <%=@event.event_venue.name%></li>
    <li>Capacity: <%=@event.event_venue.capacity%></li>
  </ul>


  <%= link_to 'Back', :back %>
</div>
<br>
<br>