<!DOCTYPE html>
<html>
  <head>
    <title>Solution</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="application.scss">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" ><%= link_to('TicketTopia', :root) %></a>

        <!-- Links -->
        <ul class="navbar-nav " >
          <li class="nav-item">
            <%= render 'devise/menu/registration_items', class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= render 'devise/menu/login_items', class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= render 'shopping_carts/shopping_cart', class: 'nav-link' %>

          </li>
        </ul>
      </nav>



      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </header>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
